@{
    ViewData["Title"] = "Home Page";
}

<div ng-controller="PizzaCalculatorController">
    <div style="width:100%;">
        <img style="width:inherit;" src="~/images/pizza_adven_zestypepperoni.png" />
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align:center;">Kiek liko picų?</h1>
            <label>Kiek užsakyti picų?</label>
            <input type="text" ng-model="pizzasToOrder" />
            <button class="btn btn-success" ng-click="order()">Užsakyti</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-lg btn-danger" ng-click="eat()">Suvalgyti 1 picą</button>
        </div>
    </div>
    <div class="row" style="margin-top:40px;">
        <div class="col-md-12">
            <label>Liko picų:</label>
            <br />
            <span style="margin:10px; font-size:24em">{{pizzasLeft}}</span>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/pizzaCalculatorController.js"></script>
}